.button-group{"ng-controller" => "buttonGroupController"}
  %input.btn.btn-primary{:type         => "button",
                         :value        => t = _("Add"),
                         :alt          => t,
                         :title        => t,
                         "ng-click"    => "addClicked($event, true)",
                         "ng-show"     => "newRecord",
                         "ng-disabled" => "!saveable(angularForm)",
                         "ng-class"    => "{ 'btn-disabled': !saveable(angularForm) }"}

  %input.btn.btn-primary{:type         => "button",
                         :value        => _("Save"),
                         :alt          => t = _("Save changes"),
                         :title        => t,
                         "ng-click"    => "saveClicked($event, true)",
                         "ng-show"     => "!newRecord",
                         "ng-disabled" => "!saveable(angularForm)",
                         "ng-class"    => "{ 'btn-disabled': !saveable(angularForm) }"}

  %input.btn.btn-default{:type         => "button",
                         :value        => _("Reset"),
                         :alt          => t = _("Reset changes"),
                         :title        => t,
                         "ng-click"    => "resetClicked()",
                         "ng-show"     => "!newRecord",
                         "ng-disabled" => "angularForm.$pristine",
                         "ng-class"    => "{ 'btn-disabled': angularForm.$pristine }"}

  %input.btn.btn-default{:type         => "button",
                         :value        => t = _("Cancel"),
                         :alt          => t,
                         :title        => t,
                         "ng-click"    => "cancelClicked($event)"}
